<?xml version="1.0"?>
<model>
  <name>restaurant_qr_marker_06</name>
  <version>1.0</version>
  <sdf version="1.10">model.sdf</sdf>
  <author>
    <name>IE 482/582 Robotics</name>
  </author>
  <description>Restaurant QR activity marker 06. Thin wall-mounted QR panel for Gazebo.</description>
</model>
